/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    margin-top: 0;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos del formulario de preguntas */
.grupo-formulario {
    margin-bottom: 20px;
}

#contenedorPreguntas {
    margin-bottom: 20px;
}

.pregunta {
    margin-bottom: 20px;
}

.respuestas div {
    margin-bottom: 10px;
}

.respuestas input[type="text"] {
    margin-right: 10px;
}

.btnEliminarPregunta {
    margin-top: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btnEliminarPregunta:hover {
    background-color: #ff4136;
}

.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Estilos de la página de bienvenida */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}